//COLORS
$redYoutubeColor: #f00;
$backgroundColor: #eeeaea;
$progressBarBackgroundColor: #8b8b8b;
$transparentBackground: transparent;
$whiteColor: #fefefe;
$firstBlackColor: rgba(0, 0, 0, 0.3);
$secondBlackColor: rgba(0, 0, 0, 0.5);
$thirdBlackColor: rgba(0, 0, 0, 0.6);

//RADIUS
$smallBorderRadius: 4px;