//COLORS
$redYoutubeColor: #f00;
$backgroundColor: #f0ecec;
$progressBarBackgroundColor: #f1f1f1;
$transparentBackground: transparent;
$whiteColor: #fefefe;
$firstBlackColor: rgba(0, 0, 0, 0.3);
$secondBlackColor: rgba(0, 0, 0, 0.4);
$thirdBlackColor: rgba(0, 0, 0, 0.6);
$buttonHover: rgb(211, 211, 211);

//FONTS
$font: 'Source Sans Pro', sans-serif;

//RADIUS
$smallBorderRadius: 4px;
$biggerBorderRadius: 8px;

//RESPONSIVNES

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;